{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/ninjastyle.css' %}"> 
</head>
<body>
    <h1>GameOver. {{request.session.win}}</h1>
    <div class="container"  id="display">
        <div class="row">
            <div class="col-sm">
                Target Gold:
            </div>
            <div class="col-sm">
                {{request.session.gold_target}}
            </div>
            <div class="col-sm">
                Target Number Turns:
            </div>
            <div class="col-sm">
                {{request.session.turn_target}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Your Gold:
            </div>
            <div class="col-sm-3">
                {{request.session.gold_amount}}
            </div>
            <div class="col-sm-3">
                Turn Count:
            </div>
            <div class="col-sm-3">
                {{request.session.turns_amount}}
            </div>
        </div>
    </div>
    <a href="reset"><button type="button" class="btn btn-primary">Reset Game</button></a>
</body>
</html>